<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>whjsResource</title>
		<meta name="author" content="zjj" />
	</head>
	<body>

		<!--SAXO价TV图-外汇报价走势-->
		<!-- TradingView Widget BEGIN -->
		<script type="text/javascript" src="https://s3.amazonaws.com/tradingview/tv.js"></script>
		<script type="text/javascript">
			var tradingview_widget_options = {};
			tradingview_widget_options.width = 800;
			tradingview_widget_options.height = 550;
			tradingview_widget_options.symbol = 'EURUSD';
			tradingview_widget_options.interval = 'D';
			tradingview_widget_options.toolbar_bg = '#E4E8EB';
			tradingview_widget_options.allow_symbol_change = true;
			new TradingView.widget(tradingview_widget_options);
		</script>
		<!-- TradingView Widget END -->
	</body>
</html>

