<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>财汇.NET-当日外汇评论</title>
		<meta name="author" content="vteamdell0723" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<!--引入自定义的css样式-->
		<link  rel="stylesheet" type="text/css" href="../csslib/commentYM/forexComment.css"/>
		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.util.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/comment/forexComment.js"></script>
	</head>
	<body>
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html"> <img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/> </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">当日(汇市/贵金属)评论</span>
				</ul>

				<div class="navbar-form pull-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="外汇评论搜索" id="plateInput">
					</div>
					<button  class="btn btn-primary" id="btnPlateSearch">
						<span class="glyphicon glyphicon-search"> </span> 搜索
					</button>
				</div>

			</div>

		</nav>
		<!--菜单显示结束-->

		<!--当日汇市评论-->
		<div class="well well-sm forexnewsposition">
			<div class="panel panel-info">
				<div class="panel-heading">
					外汇当日评论
				</div>
				<div class="panel-body">
					<div class="list-group" id="forexNewsModal"></div>
					<div align="center">
						<a class="btn btn-primary btn-sm" id="forexNewsBtnDown"><span class="glyphicon glyphicon-chevron-down"> </span></a>
						&nbsp;&nbsp;&nbsp;
						<a class="btn btn-primary btn-sm" id="forexNewsBtnUp"><span class="glyphicon glyphicon-chevron-up"> </span></a>
					</div>
				</div>
			</div>
		</div>

		<!--当日贵金属评论-->
		<div class="well well-sm metalnewsposition">
			<div class="panel panel-info">
				<div class="panel-heading">
					贵金属当日评论
				</div>
				<div class="panel-body">
					<div class="list-group" id="metalNewsModal"></div>
					<div align="center">
						<a class="btn btn-primary btn-sm" id="metalNewsBtnDown"><span class="glyphicon glyphicon-chevron-down"> </span></a>
						&nbsp;&nbsp;&nbsp;
						<a class="btn btn-primary btn-sm" id="metalNewsBtnUp"><span class="glyphicon glyphicon-chevron-up"> </span></a>
					</div>
				</div>
			</div>
		</div>

		<!--隐藏变更信息-->
		<input type="text" class="hide" value="0" id="forexNewsCount"/>
		<input type="text" class="hide" value="0" id="forexNewsTotalCount"/>
		<input type="text" class="hide" value="0" id="metalNewsCount"/>
		<input type="text" class="hide" value="0" id="metalNewsTotalCount"/>
	</body>
</html>

