<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>股票池</title>
		<meta name="author" content="vteamdell0723" />
		<link href="../csslib/indexYm/indexDefaultCss.css" rel="stylesheet" type="text/css" />
		<link href="../jslib/scriptsPlugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>	
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.cookie.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/cjhy/cjhyResourceList.js"></script>
	</head>
	<body class="indexYmBagroundImage">
           <div class="topappbar">
             <a href="../../index.html" class="btn btn-primary pull-right" id="returnIndexBtn">返回主页</a> 
		   </div>
	</body>
</html>

