<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>股票池</title>
		<meta name="author" content="vteamdell0723" />
		<!--引入相应的CSS样式-->
		<link href="../csslib/indexYm/indexDefaultCss.css" rel="stylesheet" type="text/css" />
		<link href="../jslib/scriptsPlugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<!--引入mmGridPlugin插件Css样式-->
		<link rel="stylesheet" href="../jslib/scriptsPlugin/mmGridPlugin/mmGrid/css/normalize.css">
		<link rel="stylesheet" href="../jslib/scriptsPlugin/mmGridPlugin/mmGridSrc/mmGrid.css">
		<link rel="stylesheet" href="../jslib/scriptsPlugin/mmGridPlugin/mmGridSrc/theme/bootstrap/mmGrid-bootstrap.css">
		<link rel="stylesheet" href="../jslib/scriptsPlugin/mmGridPlugin/mmGridSrc/theme/bootstrap/mmPaginator-bootstrap.css">
		<!--引入股票池自定义的Css样式-->
		<link rel="stylesheet" type="text/css" href="../csslib/gpcYM/gpcResource.css"/>
		<!--导入相应的js插件-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.cookie.plugin.js"></script>
		<!--导入mmGrid插件-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/mmGridPlugin/mmGrid/js/vendor/modernizr-2.6.2.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/mmGridPlugin/mmGrid/js/plugins.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/mmGridPlugin/mmGrid/js/vendor/json2.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/mmGridPlugin/mmGridSrc/mmGrid.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/mmGridPlugin/mmGridSrc/mmPaginator.js"></script>
		<!--导入股票池相应的js文件-->
		<script type="text/javascript" src="../scriptslib/gpc/gpcResource.js"></script>
	</head>
	<body class="indexYmBagroundImage">
		<!--菜单显示栏位-->
		<div class="navbar" id="menuNavbar">
			<div class="navbar-inner">
				<div class="container">

					<a class="brand"  href="../../index.html">财汇网</a>
					<div class="nav-collapse collapse">
						<img  width="40" height="40" class="pull-left" src="../imagelib/indexYM/jsxxlogo.jpg"/>
						<!--菜单展示控件-->
						<ul class="nav nav-pills pull-right">
							<li class="active">
								<a href="../../index.html"><span class="icon-white icon-home"> </span>主页</a>
							</li>
						</ul>
						<!--菜单展示结束-->
					</div>

				</div>
			</div>
		</div>
		<!--菜单显示结束-->
                
		<!--股票、外汇、基金分类栏位-->
		<div id="menuControlBar" class="accordionWidth">
			<ul class="nav nav-pills nav-list nav-stacked">
				<li >
					<a href="#"><i class="icon-chevron-right"> </i> 大盘股</a>
				</li>
				<li >
					<a href="#"><i class="icon-chevron-right"> </i> 中小板</a>
				</li>
				<li>
					<a href="#"><i class="icon-chevron-right"> </i> 创业板</a>
				</li>
				<li>
					<a href="#"><i class="icon-chevron-right"> </i> 基金</a>
				</li>
				<li>
					<a href="#"><i class="icon-chevron-right"> </i> 外汇</a>
				</li>
				<li>
					<a href="#"><i class="icon-chevron-right"> </i> 贵金属</a>
				</li>
				<li>
					<a href="#"><i class="icon-chevron-right"> </i> 期货</a>
				</li>
			</ul>
		</div>

		<!--表格显示控件-->
		<div id="showDataTable" class="tablePosition">
			<table id="gpc_grid"> </table>
			<div id="pg"> </div>
		</div>

	</body>
</html>

