<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>外汇牌价信息</title>
		<meta name="author" content="vteamdell0723" />
	</head>
	<body>
      <div id="sswhpjInforBox" style="width:637px;">
		  <iframe allowtransparency="true" frameborder="0" height="665" marginheight="0" marginwidth="0" scrolling="no" 
			src="http://fxrates.investing.com/index.php?pairs_ids=1487;1623;156;44;148;117;1661;101;37;46;1689;1691;61;102;66;1751;1982;1;3;2;4;7;9;5;8;6;10;16;15;52;&amp;header-text-color=%23FFFFFF&amp;curr-name-color=%230059b0&amp;inner-text-color=%23000000&amp;green-text-color=%232A8215&amp;green-background=%23B7F4C2&amp;red-text-color=%23DC0001&amp;red-background=%23FFE2E2&amp;inner-border-color=%23CBCBCB&amp;border-color=%23cbcbcb&amp;bg1=%23F6F6F6&amp;bg2=%23ffffff&amp;bid=show&amp;ask=show&amp;last=show&amp;last_update=show"
			width="637"> 
		  </iframe>
		</div>
	</body>
</html>

