<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>财汇.NET-投资者的摇篮</title>
		<meta name="author" content="vteamdell0723" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<!--引入自定义的css样式-->
		<link rel="stylesheet"  type="text/css" href="../csslib/stockpoolYM/stockpool.css"/>

		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/stockpool/stockpool.js"></script>
	</head>
	<body>
        <!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html"> <img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/> </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">(股市汇市)风险警示</span>
				</ul>
				<ul class="nav navbar-nav pull-right">
					
				</ul>
				
				
				
			</div>

		</nav>
		<!--菜单显示结束-->  
    
	</body>
</html>

