<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>题材新闻</title>
		<meta name="author" content="vteamdell0723" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<!--引入自定义的css样式-->
		<link rel="stylesheet"  type="text/css" href="../csslib/stockpoolYM/themenews.css"/>
		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.util.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/stockpool/stockthemenews.js"></script>
	</head>
	<body>
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html"> <img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/> </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">题材新闻</span>
				</ul>

				<div class="navbar-form pull-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="题材新闻搜索" id="plateInput">
					</div>
					<button  class="btn btn-primary" id="btnPlateSearch">
						<span class="glyphicon glyphicon-search"> </span> 搜索
					</button>
				</div>

			</div>

		</nav>
		<!--菜单显示结束-->
        <!--板块信息--> 
		<div class="well well-sm newsposition">
			<div class="panel panel-primary"> 
              <div class="panel-heading">公司信息</div>
                 <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped">
                        <thead>
							<th>公司信息</th>
							<th>收录日期</th>
						</thead>
						<tbody id="companyNewsModalList">
                            
						</tbody>
                    </table>
                    <div align="center">
					   <a class="btn btn-primary btn-sm" id="companyBtnDown"><span class="glyphicon glyphicon-chevron-down"> </span></a>
					   &nbsp;&nbsp;&nbsp;
					   <a class="btn btn-primary btn-sm" id="companyBtnUp"><span class="glyphicon glyphicon-chevron-up"> </span></a>
					</div>
                 </div>
             </div>    
		</div>
		
		<!--公司信息-->
        <div class="well well-sm themeposition">
            <div class="panel panel-primary"> 
              <div class="panel-heading">题材信息</div>
                 <div class="panel-body">
                    <table class="table table-condensed table-hover table-striped">
						<thead>
							<th>题材新闻</th>
							<th>收录日期</th>
						</thead>
						<tbody id="showStockThemeModalList">
                           
						</tbody>
					</table>
					<div align="center">
					   <a class="btn btn-primary btn-sm" id="themeBtnDown"><span class="glyphicon glyphicon-chevron-down"> </span></a>
					   &nbsp;&nbsp;&nbsp;
					   <a class="btn btn-primary btn-sm" id="themeBtnUp"><span class="glyphicon glyphicon-chevron-up"> </span></a>
					</div>
                 </div>
              </div>
        </div>  
        <!--隐藏域封装相应的分页参数-->
        <input type="text" id="companyNewsCount" class="hide" value="0"/>
        <input type="text" id="companyNewsTotalCount" class="hide" value="0"/> 
        <input type="text" id="themeNewsCount"   class="hide" value="0"/>
        <input type="text" id="themeNewsTotalCount" class="hide" value="0"/>
	</body>
</html>

