<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>股票池</title>
		<meta name="author" content="ZJJ" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/MetroJs/MetroJs.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/fancyBox/csslib/jquery.fancybox.css"/>
		<!--引入自定义的css样式-->
		<link rel="stylesheet"  type="text/css" href="../csslib/stockpoolYM/stockpool.css"/>

		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/MetroJs/MetroJs.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.util.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/fancyBox/jslib/jquery.fancybox.js"></script>
		<script type="text/javascript" src="../scriptslib/stockpool/stockpool.js"></script>
	</head>
	<body>
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html"> <img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/> </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">股票池</span>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"> </span> 板块推荐 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">板块模拟</a>
							</li>
						</ul>
					</li>
				</ul>
				
				<div class="navbar-form pull-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="版块搜索" id="plateInput">
					</div>
					<button  class="btn btn-primary" id="btnPlateSearch">
						<span class="glyphicon glyphicon-search"> </span> 搜索
					</button>
				</div>
				
			</div>

		</nav>
		<!--菜单显示结束-->
		<div class="well well-sm newsposition">
			<div class="panel panel-info" id="stockThemeList">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-th"> </span> 股票题材列表
				</div>
				<div class="panel-body" id="showStockPoolModal">

				</div>
				<div align="center">
					<ul id="pages" class="pagination"> </ul>
				</div>
			</div>

			<div class="panel panel-info" id="stockThemeDetail">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-paperclip"> </span> 股票题材详情
				</div>
				<div class="panel-body">
					<table class="table table-condensed table-hover table-striped">
						<thead>
							<th>板块名称</th>
							<th>板块描述</th>
							<th>股票明细</th>
						</thead>
						<tbody id="showStockPoolModalList">
                           
						</tbody>

					</table>
				</div>
			</div>
			
			
			
			
			
		</div>
	</body>
</html>

