.panelposition{
	 position:absolute;
	 top:50px; 
}
.labelposition{
	position:relative;
	padding-top:20px;
	padding-left:10px;
}
.labenfont{
	font-family: "Microsoft YaHei" ! important;
	font-weight:600;
	font-size:large;
}
.textformat{
	text-decoration:none;
}