.indexYmBagroundImage {
	background: url('../../imagelib/furley_bg.png')
}
.newsposition{
  position:absolute;
  top:45px;
  width:50%;
}
.cjnewsposition{
	position:absolute;
	top:45px;
	right:0px;
	width:50%;
}