<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>外汇看图</title>
		<!--引入相应的CSS样式-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="../csslib/forexpicYM/forexpic.css"/>
		<!--引用相应的js文件-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.util.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/forexpic/forexpic.js"></script>
	</head>
	<body>
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html">
					<img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">汇市看图</span>
				</ul>
			</div>
		</nav>
		<!--菜单显示结束-->

		<div class="well well-sm newsposition">
			<!--内容显示-->
			<div class="panel panel-info">
				<div class="panel-body">
					<div class="row" id="firstRow"></div>
					<div class="row" align="center">
						<ul id="pages" class="pagination"></ul>
					</div>
				</div>
			</div>

			<!--图汇新闻列表-->
			<div class="panel panel-info">
				<div class="panel-heading">
					<span class="glyphicon glyphicon-cloud"> </span> 图汇新闻
				</div>
				<div class="panel-body">
                    <table class="table table-striped table-condensed table-hover" id="forexNewsPic">
                    </table>
                    <div align="center">
                       <a class="btn btn-primary btn-sm" id="newsBtnDown"><span class="glyphicon glyphicon-chevron-down"> </span></a>
					    &nbsp;&nbsp;&nbsp;
					   <a class="btn btn-primary btn-sm" id="newsBtnUp"><span class="glyphicon glyphicon-chevron-up"> </span></a>
                    </div>
				</div>
			</div>
		</div>

        <input type="text" class="hide" id="firexNewsCount" value="0"/>  
        <input type="text" class="hide" id="firexNewsTotalCount" value="0"/> 
	</body>
</html>
