<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>外汇看图</title>
		<!--引入相应的CSS样式-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<!--引用相应的js文件-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/forexpic/forexpic.js"></script>
	</head>
	<body>
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="../../index.html"> <span class="glyphicon glyphicon-home"> </span>财汇·NET</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">汇市看图</span>
				</ul>
			</div>
		</nav>
		<!--菜单显示结束-->
		
		<!--内容显示-->

		

	</body>
</html>
