.bottomshowInfor {
	height: 40px;
	text-align: center;
	font-size:small;
	background-image: url('../../imagelib/furley_bg.png');
}

.btnposition{
	position:absolute;
	padding-left:500px;
}
