<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>财经评论明细列表</title>
		<meta name="author" content="ZJJ" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../csslib/cjhyYM/cjhyListDetail.css"/>
		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.util.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.formatdate.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/cjhy/cjhyListDetail.js"></script>
	</head>
	<body>
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<th>评论员</th>
				<th>财经评论</th>
				<th>搜录日期</th>
				<th>赞一个</th>
			</thead>
			<tbody id="authShowModel"></tbody>
		</table>
		<div align="center">
			<ul id="pages" class="pagination"></ul>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h5 class="modal-title" id="myModalLabel">提示</h5>
					</div>
					<div class="modal-body">
						点评成功！谢谢您的关注！
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">
							确定
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</body>
</html>

