<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>汇市评论</title>
		<meta name="author" content="ZJJ" />
		<!--CSS文件导入-->
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/bootstrap3/css/bootstrap-theme.min.css"/>
		<link  rel="stylesheet" type="text/css" href="../jslib/scriptsPlugin/fancyBox/csslib/jquery.fancybox.css"/>
		<link  rel="stylesheet" type="text/css" href="../csslib/cjhyYM/cjhyList.css"/>
		
		<!--js文件导入-->
		<script type="text/javascript" src="../jslib/scriptsPlugin/jqueryPlugin/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/bootstrap3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/fancyBox/jslib/jquery.fancybox.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.service.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.application.plugin.js"></script>
		<script type="text/javascript" src="../jslib/scriptsPlugin/commonService/common.formatdate.plugin.js"></script>
		<script type="text/javascript" src="../scriptslib/cjhy/hshyList.js"></script>
	</head>
	<body class="indexYmBagroundImage">
		<!--菜单显示栏位-->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="navbar-header">
				<a  href="../../index.html"> <img src="../imagelib/indexYM/Companeicon.jpg" border="0" height="40" class="img-rounded"/> </a>
			</div>

			<div class="collapse navbar-collapse" id="bs-infor">
				<ul class="nav navbar-nav">
					<span class="label label-info">汇市评论</span>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li>
						<a class="fancybox fancybox.iframe" href="hshyDailyDetail.html" >
						<span class="glyphicon glyphicon-dashboard"> </span>&nbsp;&nbsp;当日汇市点评</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"> </span>汇市推荐 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a class="fancybox fancybox.iframe" href="hshyMjtjModal.html" >
								<span class="glyphicon glyphicon-share"> </span>&nbsp;&nbsp;汇市名家分享</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="navbar-form pull-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="汇市名家搜索" id="bznameInput">
					</div>
					<button type="submit" class="btn btn-primary" id="btnAuthorSearch">
					 <span class="glyphicon glyphicon-search"> </span>	搜索
					</button>
				</div>
			</div>
		</nav>
		<!--菜单显示结束-->

		<!--文章标题显示-->
		<div class="well well-sm newsposition">
          
          <table class="table table-striped table-condensed table-hover">
          	  <thead>
          	  	 <th> </th>
          	  	 <th>汇市名家</th>
          	  	 <th>汇市名家描述</th>
          	  	 <th>搜录日期</th>
          	  	 <th>关注度</th>
          	  	 <th>查看评论列表</th>
          	  </thead>
          	  <tbody id="authShowModel">
          	  </tbody>
          </table>
          <div align="center">
			  <ul id="pages" class="pagination"> </ul>
		  </div>
		</div>
	</body>
</html>

